.App-logo {
  height: 80px;
  display: inline-block;
  margin-right: 40px;
}

.App-logo path {
  fill: #035073;
}

.App-header {
  background-color: #0197a6;
  height: 80px;
  padding: 15px;
  color: white;
  white-space: nowrap;
}

/* Houses the header and logo */
.App-intro {
  display: inline-block;
  text-align: left;
  vertical-align: bottom;
  overflow: hidden;
}

h1 {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  h1 {
    color: #f2f4f7;
    display: inline-block;
    font-family: "Verdana", sans-serif;
    font-size: 2.5em;
    visibility: visible;
  }
}

.Links {
  display: inline-block;
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  position: absolute;
  right: 15px;
}

.Twitter-logo {
  height: 24px;
  width: 36px;
  vertical-align: bottom;
}

.Link {
  display: inline-block;
}

.Link a {
  color: #f2f4f7;
  font-weight: bold;
  font-size: 1.1em;
}

.Link a:visited {
  color: #035073;
}
