/* this is the header at the top of the app; padding is whitespace at the top and height determines the height of the header below it */
.App-header {
  height: 170px;
  padding: 20px;
  white-space: nowrap;
}

/* nested inside app header */
.App-intro {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
}

/* fix this later */
h1 {
    color: #00123e;
    font-family: "Town31Dim-BlackL", serif;
    font-size: 55px;
    visibility: visible;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 2px;
	line-height: 15px;
}

/*adjust line height if you need to*/
@media only screen and (min-width: 768px) {
  h1{
    font-size: 55px;
  }
}

/* also fix this later */
h2 {
    color: #00123e;
    font-family: "Town31Dim-RegularL", serif;
    font-size: 40px;
    visibility: visible;
	font-weight: normal;
	font-style: normal;
	line-height: 15px;
	letter-spacing: 3px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
  }
}

/* obsolete */
.Twitter-logo {
  height: 24px;
  width: 36px;
  vertical-align: bottom;
}

