/*
  Site-wide styles chyea boi
*/

@font-face {
	font-family: 'bwmodelica-regular';
	src: url('font/bwmodelica-regular/bwmodelica-regular-webfont.eot');
	src: url('font/bwmodelica-regular/bwmodelica-regular-webfont.eot?#iehack') format('eot'),
		url('font/bwmodelica-regular/bwmodelica-regular-webfont.woff') format('woff'),
		url('font/bwmodelica-regular/bwmodelica-regular-webfont.ttf')  format('truetype'),
		url('font/bwmodelica-regular/bwmodelica-regular-webfont.svg#svgbwmodelica-regular') format('svg');
	}

@font-face {
	font-family: 'bwmodelica-bold';
	src: url('font/bwmodelica-bold/bwmodelica-bold-webfont.eot');
	src: url('font/bwmodelica-bold/bwmodelica-bold-webfont.eot?#iehack') format('eot'),
		url('font/bwmodelica-bold/bwmodelica-bold-webfont.woff') format('woff'),
		url('font/bwmodelica-bold/bwmodelica-bold-webfont.ttf')  format('truetype'),
		url('font/bwmodelica-bold/bwmodelica-bold-webfont.svg#svgbwmodelica-bold') format('svg');
	}

@font-face {
	font-family: 'Town31Dim-BlackL';
	src: url('font/Town31Dim-BlackL/Town31Dim-BlackL.eot');
	src: url('font/Town31Dim-BlackL/Town31Dim-BlackL.eot?#iehack') format('eot'),
		url('font/Town31Dim-BlackL/Town31Dim-BlackL.woff') format('woff'),
		url('font/Town31Dim-BlackL/Town31Dim-BlackL.ttf')  format('truetype'),
		url('font/Town31Dim-BlackL/Town31Dim-BlackL.svg#svgTown31Dim-BlackL') format('svg');
	}

@font-face {
	font-family: 'Town31Dim-RegularL';
	src: url('font/Town31Dim-RegularL/Town31Dim-RegularL.eot');
	src: url('font/Town31Dim-RegularL/Town31Dim-RegularL.eot?#iehack') format('eot'),
		url('font/Town31Dim-RegularL/Town31Dim-RegularL.woff') format('woff'),
		url('font/Town31Dim-RegularL/Town31Dim-RegularL.ttf')  format('truetype'),
		url('font/Town31Dim-RegularL/Town31Dim-RegularL.svg#svgTown31Dim-RegularL') format('svg');
	}

body {
  font-family: "bwmodelica-regular", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image:url("img/background.gif");
  background-position:center center;
  background-repeat:repeat;
  color: #00123e;
}

p {
	line-height: 15px;
}

div.prose {
	text-align: left;
	line-height: 22px;
    width: 90%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
  div.prose{
    width: 40%;
  }
}

hr {
  margin-top: 7px;
  margin-bottom: 7px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-color: #878b98;
  border-style: solid hidden hidden hidden;
  overflow: auto;
}

/*update these later*/
a.menu:link{
  color: #8b9fa1;
  font-family: "bwmodelica-bold", serif;
  text-decoration: underline;
}

a.menu:visited {
  color: #8b9fa1;
}

a.menu:hover {
  color: #00123e;
}

.menu-container {
	margin-top: 8px;
}

.menu-spacer {
	margin-left: 7px;
	margin-right: 7px;
}

#container {
  overflow-y: scroll;
}

#vertical-spacer {
  height: 80vh;
}

/* fix this later */
h1 {
    color: #00123e;
    font-family: "Town31Dim-BlackL", serif;
    font-size: 55px;
    visibility: visible;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 2px;
	line-height: 15px;
}

/*adjust line height if you need to*/
@media only screen and (min-width: 768px) {
  h1{
    font-size: 55px;
  }
}

/* also fix this later */
h2 {
    color: #00123e;
    font-family: "Town31Dim-RegularL", serif;
    font-size: 40px;
    visibility: visible;
	font-weight: normal;
	font-style: normal;
	line-height: 15px;
	letter-spacing: 3px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
  }
}
