/*
  Site-wide styles chyea boi
*/

@font-face {
	font-family: 'bwmodelica-regular';
	src: url('font/bwmodelica-regular/bwmodelica-regular-webfont.eot');
	src: url('font/bwmodelica-regular/bwmodelica-regular-webfont.eot?#iehack') format('eot'),
		url('font/bwmodelica-regular/bwmodelica-regular-webfont.woff') format('woff'),
		url('font/bwmodelica-regular/bwmodelica-regular-webfont.ttf')  format('truetype'),
		url('font/bwmodelica-regular/bwmodelica-regular-webfont.svg#svgbwmodelica-regular') format('svg');
	}

@font-face {
	font-family: 'bwmodelica-bold';
	src: url('font/bwmodelica-bold/bwmodelica-bold-webfont.eot');
	src: url('font/bwmodelica-bold/bwmodelica-bold-webfont.eot?#iehack') format('eot'),
		url('font/bwmodelica-bold/bwmodelica-bold-webfont.woff') format('woff'),
		url('font/bwmodelica-bold/bwmodelica-bold-webfont.ttf')  format('truetype'),
		url('font/bwmodelica-bold/bwmodelica-bold-webfont.svg#svgbwmodelica-bold') format('svg');
	}

@font-face {
	font-family: 'bwmodelica-medium';
	src: url('font/bwmodelica-medium/bwmodelica-medium-webfont.eot');
	src: url('font/bwmodelica-medium/bwmodelica-medium-webfont.eot?#iehack') format('eot'),
		url('font/bwmodelica-medium/bwmodelica-medium-webfont.woff') format('woff'),
		url('font/bwmodelica-medium/bwmodelica-medium-webfont.ttf')  format('truetype'),
		url('font/bwmodelica-medium/bwmodelica-medium-webfont.svg#svgbwmodelica-medium-webfont') format('svg');
	}

@font-face {
	font-family: 'Town31Dim-BlackL';
	src: url('font/Town31Dim-BlackL/Town31Dim-BlackL.eot');
	src: url('font/Town31Dim-BlackL/Town31Dim-BlackL.eot?#iehack') format('eot'),
		url('font/Town31Dim-BlackL/Town31Dim-BlackL.woff') format('woff'),
		url('font/Town31Dim-BlackL/Town31Dim-BlackL.ttf')  format('truetype'),
		url('font/Town31Dim-BlackL/Town31Dim-BlackL.svg#svgTown31Dim-BlackL') format('svg');
	}

@font-face {
	font-family: 'Town31Dim-RegularL';
	src: url('font/Town31Dim-RegularL/Town31Dim-RegularL.eot');
	src: url('font/Town31Dim-RegularL/Town31Dim-RegularL.eot?#iehack') format('eot'),
		url('font/Town31Dim-RegularL/Town31Dim-RegularL.woff') format('woff'),
		url('font/Town31Dim-RegularL/Town31Dim-RegularL.ttf')  format('truetype'),
		url('font/Town31Dim-RegularL/Town31Dim-RegularL.svg#svgTown31Dim-RegularL') format('svg');
	}

@font-face {
	font-family: 'Town10Display-Regular';
	src: url('font/Town10Display-Regular/Town10Display-Regular.eot');
	src: url('font/Town10Display-Regular/Town10Display-Regular.eot?#iehack') format('eot'),
		url('font/Town10Display-Regular/Town10Display-Regular.woff') format('woff'),
		url('font/Town10Display-Regular/Town10Display-Regular.ttf')  format('truetype'),
		url('font/Town10Display-Regular/Town10Display-Regular.svg#svgTown10Display-Regular') format('svg');
	}

body {
  font-family: "bwmodelica-regular", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image:url("img/background.jpg");
  background-position:center center;
  background-repeat:repeat;
  color: #00123e;
}

p {
	line-height: 15px;
}

.Image-button {
  background: transparent;
  border: 0;
}

div.prose {
	text-align: left;
	line-height: 22px;
  width: 90vw;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

div.prose li {
	padding-bottom: 5px;
}

div.prose .Spaced-list li {
	padding-bottom: 20px;
}

div.prose h2 {
	line-height: 45px
}

.Inline-center-div {
	display: inline-block;
	text-align: center;
}

@media only screen and (min-width: 768px) {
  div.prose {
    width: 700px;
  }
}

hr {
  margin-top: 7px;
  margin-bottom: 7px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-color: #878b98;
  border-style: solid hidden hidden hidden;
  overflow: auto;
}

/*standard links */
a:link{
  color: #60999f;
  font-family: "bwmodelica-regular", serif;
  text-decoration: underline;
}

a:visited {
  color: #60999f;
}

a:hover {
  color: #00123e;
}

/*menu links, maybe update these later*/
a.menu:link{
  font-family: "bwmodelica-bold", serif;
  text-decoration: underline;
}

.large-menu-container {
	margin-bottom: 8px;
}

.small-menu-container {
	margin-bottom: 8px;
}

.menu-spacer {
	margin-left: 7px;
	margin-right: 7px;
}

.Left-align {
	text-align: left;
}

.Bold-label {
  font-family: "bwmodelica-bold", sans-serif;
}

#vertical-spacer {
  height: 80vh;
}

/* fix this later */
h1 {
  color: #00123e;
  font-family: "Town31Dim-BlackL", serif;
  font-size: 55px;
  visibility: visible;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 2px;
	line-height: 15px;
}

/*adjust line height if you need to*/
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 55px;
  }
}
/* scale font-size for smaller devices */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: calc(22px + 4vw);
  }
}

/* also fix this later */
h2 {
  color: #00123e;
  font-family: "Town31Dim-RegularL", serif;
  font-size: 40px;
  visibility: visible;
	font-weight: normal;
	font-style: normal;
	line-height: 15px;
	letter-spacing: 3px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
  }
	.large-menu-container {
		display: block;
	}
	.small-menu-container {
		display: none;
	}
}
/* scale font-size for smaller devices */
@media only screen and (max-width: 767px) {
  h2 {
    font-size: calc(20px + 4vw);
  }
	.large-menu-container {
		display: none;
	}
	.small-menu-container {
		display: block;
	}
}

/*for page subheadings */
h3 {
  color: #00123e;
  font-family: "Town10Display-Regular", serif;
  font-size: 30px;
  visibility: visible;
  font-weight: normal;
  font-style: normal;
}

h4 {
  color: #00123e;
  font-family: "bwmodelica-medium", serif;
  font-size: 18px;
  visibility: visible;
  font-weight: normal;
  font-style: normal;
}

/* all dropdowns including play speed */
.Dropdown {
	color: #00123e;
	font-family: "bwmodelica-bold", sans-serif;
	font-size: 16px;
	display: inline-block;
	border: 1px solid #878b98;
}

.Menus-container {
	display: inline-block;
}

/* extras for the top two dropdowns */
.Main-dropdown {
	margin: 5px 2px 0px 3px;
}

/* just the top two dropdowns + menu dropdown */
.Main-dropdown, .Menu-dropdown {
	padding: 5px 3px 5px 3px;
	font-family: "bwmodelica-regular", sans-serif;
	width: 300px;
	background: #fbfbf1;
}

/* keyboard shortcut niceities */

element.style {
}

/* originally for nicely formatting key combos */
.flex-container {
	display: flex;
	align-items: center;
	margin-top: 5px;
}
.flex-left {
	text-align: left;
	border-right: 1px solid #878b98;
}
.flex-right {
	text-align: left;
}
.flex-row {
	margin-bottom: 5px;
	padding-bottom: 3px;
	border-bottom: 1px solid #878b98;
}
/* for vertical positioning */
.kbd-simulator {
	display: inline-block;
  border: 1px solid transparent;  /* this is the most important one to getting line height right */
	/* these are also important */
	margin: 0 .1em;
  padding: .1em .6em;
}

kbd {
  display: inline-block;
  margin: 0 .1em;
  padding: .1em .6em;
  font-family: "bwmodelica-regular", sans-serif;
  color: #242729;
  text-shadow: 0 1px 0 #FFF;
  background-color: #e1e3e5;
  border: 1px solid #adb3b9;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #FFF inset;
  white-space: nowrap;
}

.Link-button {
	font-family: "bwmodelica-regular", sans-serif;
	background: none !important;
	color: inherit;
	border: none;
	padding: 0! important;
	font: inherit;
	cursor: pointer;
	outline: inherit !important;
	text-decoration: underline;
}
