.Move-info {
  width: 100%;
  text-align: left;
}

.Hitbox-table-container {
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing : border-box;
}

.Hitbox-color {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid #00123e;
  margin: 3px 0px 0px 0px;
}

.Hitbox-info-table {
  width: 100%;
  padding: 0px 0px 0px 0px;
  white-space: nowrap;
  text-align: left;
  border-collapse:collapse;
}

.Hitbox-info-table td {
  padding: 0px 5px 0px 5px;
  border: 1px solid #c6c5c6;
}

.Hitbox-info-table th {
  padding: 3px 5px 3px 5px;
  border: 1px solid #c6c5c6;
  font-family: "bwmodelica-bold", sans-serif;
}

.Angle-canvas {
  vertical-align: middle;
}

.Angle-container {
  vertical-align: middle;
}

.Angle-td {
  width: 100%;
}

.Colored-table-row {
  background: #e0e1dc;
}

/*
 Hack to get left aligned tooltips. multi-line is the class name used internally
 by the react component
*/
.multi-line {
  text-align: left !important;
}
