.Move {
  padding: 10px 10px 10px 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: 2px solid #035073;
  display: inline-block;
  text-align: center;

  /* just to make sure 100% internal divs work properly */
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  .Move {
    /* just to make sure 100% internal divs work properly */
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
  }
}

.Move-frame {
  width: 3em;
}

.Dropdown {
  border-radius: 7px;
  color: #0197a6;
  font-family: "Verdana", "Arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  border: 1px solid #035073;
}

.Main-dropdown {
  padding: 5px 3px 5px 3px;
  margin-bottom: 5px;
  width: 300px;
}

.Text-input {
  border-radius: 7px;
  color: #0197a6;
  font-family: "Verdana", "Arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  border: 1px solid #035073;
}

.Dropdown:disabled {
  background: #999999;
}

.View-picker {
  display: inline-block;
}
.GifSizeCheckbox {
  display: inline-block;
  margin-left: 20px;
}
