.Hitbox-color {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: black;
  border: 1px solid black;
}

.Hitbox-info-table td {
  padding: 3px 6px 3px 6px;
  text-align: center;
}

.Hitbox-info-table th {
  padding: 3px 6px 3px 6px;
  text-align: left;
}

.Bold-label {
  font-weight: bold;
}

.Angle-canvas {
  vertical-align: middle;
}

.Angle-container {
  vertical-align: middle;
}
