.Move-gif {
  margin-top: 6px;
  max-width: 100%;
  /*width set to the "standard" width of a move video as per recipe.yaml*/
  display: block;
}

.Loading-gif {
  max-width: 30%;
}

.Move-video-container {
  display: inline-block;
}

/* this includes the nav buttons and the play speed and frame menus. At 100%, it's the width of the video window */
.Move-controls {
  margin: auto;
  width: 100%;
  text-align: center;
}

.Player-controls * {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 0px;
}

.Player-controls img {
  height: 40px;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: bottom;
}

.Move-frame:disabled {
  background: #c6c5c6;
}

.Player-slider {
  text-align: center;
}

.Player-slider-control {
  display: inline-block;
}

.Share-image {
  padding-top: 5px;
  padding-left: 15px;
  vertical-align: bottom;
  height: 20px;
  cursor: pointer;
}

.Frame-controls * {
  display: inline-block;
}

.Frame-controls select, .Frame-controls input {
  margin-left: 4px;
  margin-right: 16px;
  background: #fbfbf1;
}

.Frame-controls input {
  padding: 2px 2px;
  width: 3.5em;
}

.Frame-controls option {
  /* Fix for firefox which will make the box as wide as all the options if
     they are inline-block */
  display: block;
}

.Frame-controls input[type=checkbox] {
  margin-right: 3px;
  width: auto;
}

.Help-icon {
  color: #00123e;
  border-bottom: 1px #00123e dotted;
  cursor:  help;
  vertical-align: top;
}
/*
 For screens smaller than the default video size of 792px just use whatever
 space they have.
*/
@media only screen and (max-width: 767px) {
  .Help-icon {
    display: none;
  }
}


#Frame-loop {
  display: inline;
}

.Hidden {
  display: none;
}

.Move-video-instruction {
  margin-top: 15px;
}

.Move-video-loading {
  display: table-cell;
  vertical-align: middle;
}

.Move-video-placeholder {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 70%;
}

.Move-video-placeholder-inner {
  width: 100%;
  height: 100%;
  display: table;
}

/*
 For screens smaller than the default video size of 792px just use whatever
 space they have.
*/
@media only screen and (max-width: 792px) {
  .Move-video {
    max-width: 98%;
    border: 1px solid black;
  }
  .Move-video-placeholder {
    display: inline-block;
    max-width: 98%;
    height: 35vh;
    border: 1px solid black;
  }
  #Frame-loop {
    display: block;
    margin-top: 3px;
  }
}

/* For larger screens, keep it locked to 792px */
@media only screen and (min-width: 769px) {
  .Move-video {
    max-width: 792px;
    border: 1px solid #878b98;
  }
  .Move-video-placeholder {
    display: inline-block;
    max-width: 792px;
    height: 502px;
    border: 1px solid black;
  }
}

/* For landscape screens shrink the video */
@media only screen and (max-height: 500px) {
  .Move-video {
    max-height: 80vh;
  }
  .Move-video-placeholder {
    height: 80vh;
  }
}
