.Move-gif {
  max-width: 100%;
}

.Move-controls {
  margin: auto;
  width: 380px;
  text-align: center;
}

.Player-controls * {
  display: inline-block;
  margin-bottom: 8px;
}

.Player-controls img {
  height: 42px;
  cursor: pointer;
  padding-left: 6px;
  padding-right: 6px;
  vertical-align: bottom;
}

.Frame-controls * {
  display: inline-block;
}

.Frame-controls select,input {
  margin-left: 4px;
  margin-right: 16px;
}

.Frame-controls input {
  padding: 2px 2px;
  width: 3.5em;
}

.Frame-controls option {
  /* Fix for firefox which will make the box as wide as all the options if
     they are inline-block */
  display: block;
}

@media only screen and (min-width: 768px) {
  .Plain-move-gif-large {
    width: 590px;
    height: 410px;
  }

  .Plain-move-gif-small {
    width: 384px;
    height: 267px;
  }
}

.Move-video {
  max-width: 100%;
}
