.Move-controls {
  margin: auto;
  width: 380px;
}

.Move-controls * {
  display: inline-block;
  margin-right: 4px;
}

.Move-controls input {
  padding: 1px 1px;
}

.Move-controls img {
  height: 24px;
  cursor: pointer;
  vertical-align: bottom;
}

.Plain-move-gif-large {
  visibility: hidden;
}

.Plain-move-gif-small {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .Plain-move-gif-large {
    width: 590px;
    height: 410px;
  }

  .Plain-move-gif-small {
    width: 384px;
    height: 267px;
  }
}
